@using BigonApp.Business.Modules.BlogPostsModules.Queries.BlogPostsGetById
@model BlogPostsGetByIdDto

<div class="card">
    <div class="card-header">
        <h5>Color info</h5>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Body</th>
                        <th>Slug</th>
                        <th>Image</th>
                        <th>Category Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Title</td>
                        <td>@Model.Body</td>
                        <td>@Model.Slug</td>
                        <td><img src="~/uploads//images/@Model.FilePath"/></td>
                        <td>@Model.CategoryName</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<a class="btn btn-light" asp-action="index" asp-controller="blogposts">Back</a>
<a class="btn btn-warning" asp-action="update" asp-controller="blogposts" asp-route-id="@Model.Id">Update</a>
